<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Booking</title>
</head>
<%- include('./partials/styles.ejs') %>
<body>
    <%- include("./partials/navbar_afterLogin.ejs") %>
    <h1>Rental Details</h1>

    <%data.forEach(cars => {%>
    <table  border="1"> 
      <tr>
        <th width="300px">Brand:</th>
        <td><%= cars.brand %></td>
      </tr>
      <tr>
        <th width="300px">Type:</th>
        <td><%= cars.type %></td>
      </tr>
      <tr>
        <th width="300px">Long Rent:</th>
        <% if ((cars.Transaction.totalPrice/cars.rentalPrice) > 1) { %>
          <td><%= (cars.Transaction.totalPrice/cars.rentalPrice) %> days</td>
        <% } else { %>
          <td><%= (cars.Transaction.totalPrice/cars.rentalPrice) %> day</td>
        <% } %>
      </tr>
      <tr>
        <th width="300px">Rent Date:</th>
        <td><%= new Date(cars.Transaction.rentalDate).toLocaleString('id') %></td>
      </tr>
      <tr>
        <th width="300px">Price/day:</th>
        <td>Rp. <%= cars.rentalPrice %>,-</td>
      </tr>
      <tr>
        <th width="300px">Total Price:</th>
        <td>Rp. <%= cars.Transaction.totalPrice %>,-</td>
      </tr>
      <tr>
        <th width="300px">Payment Status:</th>
        <td><%= cars.Transaction.status %></td>
      </tr>

      <br>
      <br>
    </table>
    <%});%>
</body>
</html>