<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/styles.ejs') %>
  <meta charset="utf-8">
  <title>Edit Car</title>
</head>

<body>
  <center>
    <h1>Rent Form</h1>

    <form method="POST" action="/cars/users/rent/<%=data.id%>">
      <table  border="1"> 
        <tr>
          <th>Brand:</th>
          <td><%= data.brand %></td>
        </tr>
        <tr>
          <th>Type:</th>
          <td><%= data.type %></td>
        </tr>
        <tr>
          <th>Color:</th>
          <td><%= data.color %></td>
        </tr>
        <tr>
          <th>Year:</th>
          <td><%= data.year %></td>
        </tr>
        <tr>
          <th>Price:</th>
          <td>Rp. <%= data.rentalPrice %>,-</td>
        </tr>
      </table>
      <br>
      Date: 
      <input type="date" name="date">
      <br><br>
      Rent range:
      <select name="day">
        <option value=1>1 day</option>
        <option value=2>2 days</option>
        <option value=3>3 days</option>
        <option value=4>4 days</option>
        <option value=5>5 days</option>
      </select>
      <br><br>
      Address: <br>
      <textarea rows="3" cols="40" name="address">Enter address here...</textarea>
      <br><br>
      <input type="hidden" name="price" value="<%= data.rentalPrice %>">
      <input type="submit" value="Submit">
    </form>
  </center>
  <%- include('./partials/footer.ejs') %>
</body>

</html>