<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/styles.ejs') %>
  <meta charset="utf-8">
  <title>Edit Car</title>
</head>

<body>
  <center>
    <h1>Rent Confirmation</h1>

    <form method="POST" action="/cars/admin/edit/<%=data.id%>">
      Brand:
      <%= data.brand %><br>
      <br>
      Type:
      <%= data.type %><br>
      <br>
      Color:
      <%= data.color %><br>
      <br>
      Year:
      <%= data.year %><br>
      <br>
      Price:
      <%= data.rentalPrice %><br>
      <br>
      Date: <br>
      <input type="date" name="date">
      <br><br>
      Rent range: <br>
      <select>
        <option value=1>1 day</option>
        <option value=2>2 days</option>
        <option value=3>3 days</option>
        <option value=4>4 days</option>
        <option value=5>5 days</option>
      </select>
      <br><br>
      Total Price: <br>
      <input type="text" name="rentalPrice">
      <br><br>
      Address: <br>
      <textarea rows="5" cols="50" name="address">Enter address here...</textarea>
      <br><br>
      <input type="submit" value="Submit">
    </form>
  </center>
  <%- include('./partials/footer.ejs') %>
</body>

</html>